<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{ title }}</title>
  <link rel="stylesheet" href="css/jquery.fancybox.min.css" />
  <link rel="stylesheet" href="css/owl.carousel.min.css" />
  <link rel="stylesheet" href="css/main.css" />
</head>
<body>
  <!-- ========================================hero======================================== -->
  <div class="hero">
    <div class="hero__head">
      <div class="container">
        <a href="/" class="hero__logo">
          <img src="img/logo.png" alt="" />
        </a>
        <ul class="hero__links">
          <li><a href="">Квесты</a></li>
          <li><a href="">Отзывы</a></li>
          <li><a href="">Вопросы</a></li>
          <li><a href="">Контакты</a></li>
        </ul>
        <div class="hero__phoneblock">
          <a href="" class="hero__phone">+7 (920) 061 33 31 </a>
          <div class="hero__phoneblock__link">Заказать звонок</div>
        </div>
      </div>
    </div>
    <div class="hero__main">
      <div class="container">
        <!-- hero__main__imgblock -->
        <div class="hero__main__imgblock">
          <div class="hero__main__imgblock__circle" data-circle-id="1"></div>
          <div class="hero__main__imgblock__circle" data-circle-id="2"></div>
          <div class="hero__main__imgblock__circle" data-circle-id="3"></div>
          <div class="hero__main__imgblock__circle" data-circle-id="4"></div>
          <div class="hero__main__imgblock__circle" data-circle-id="5"></div>
          <div class="hero__main__imgblock__circle" data-circle-id="6"></div>
          <img src="img/pers.png" alt="" />
        </div>
        <!--END hero__main__imgblock -->
        <div class="hero__title">
          Технологичные <span>квесты</span> <br />
          в Нижнем Новгороде
        </div>
        <div class="hero__desc">
          Погрузись в мир незабываемых <br />
          ощущений
        </div>
        <button class="btn">Погрузиться</button>
      </div>
    </div>
  </div>
  <!-- ========================================END hero======================================== -->
  <!-- ========================================kvests======================================== -->
  <div class="kvests">
    <div class="container">
      <div class="section__title black">Квесты</div>
      <div class="kvests__items">
        <!-- kvests__item -->
        <a href="" class="kvests__item" style="background-image: url(img/kvest.png);" >
          <span class="kvests__item__gradient"></span>
          <span class="kvests__item__overlay green"></span>
          <span class="kvests__item__type green">экшен игра</span>
          <div class="kvests__item__title">Игры в темноте</div>
          <div class="kvests__item__desc">
            <div class="kvests__item__desc__text">Сложность:</div>
            <div class="kvests__item__desc__stars">
              <img src="img/star.png" alt="" />
              <img src="img/star.png" alt="" />
              <img src="img/star.png" alt="" />
            </div>
            <div class="kvests__item__desc__text">от 60 минут</div>
          </div>
          <div class="kvests__item__link">Перейти <img src="img/next.png" alt=""></div>
        </a>
        <!--END kvests__item -->
        <!-- kvests__item -->
        <a href="" class="kvests__item" style="background-image: url(img/kvest.png);" >
          <span class="kvests__item__gradient"></span>
          <span class="kvests__item__overlay red"></span>
          <span class="kvests__item__type red">экшен игра</span>
          <div class="kvests__item__title">Хостел. Подвал пыток</div>
          <div class="kvests__item__desc">
            <div class="kvests__item__desc__text">Сложность:</div>
            <div class="kvests__item__desc__stars">
              <img src="img/star.png" alt="" />
              <img src="img/star.png" alt="" />
              <img src="img/star.png" alt="" />
            </div>
            <div class="kvests__item__desc__text">от 60 минут</div>
          </div>
          <div class="kvests__item__link">Перейти <img src="img/next.png" alt=""></div>
        </a>
        <!--END kvests__item -->
        <!-- kvests__item -->
        <a href="" class="kvests__item" style="background-image: url(img/kvest.png);" >
          <span class="kvests__item__gradient"></span>
          <span class="kvests__item__overlay yellow"></span>
          <span class="kvests__item__type yellow">экшен игра</span>
          <div class="kvests__item__title">Гражданская оборона</div>
          <div class="kvests__item__desc">
            <div class="kvests__item__desc__text">Сложность:</div>
            <div class="kvests__item__desc__stars">
              <img src="img/star.png" alt="" />
              <img src="img/star.png" alt="" />
              <img src="img/star.png" alt="" />
            </div>
            <div class="kvests__item__desc__text">от 60 минут</div>
          </div>
          <div class="kvests__item__link">Перейти <img src="img/next.png" alt=""></div>
        </a>
        <!--END kvests__item -->
        <!-- kvests__item -->
        <a href="" class="kvests__item" style="background-image: url(img/kvest.png);" >
          <span class="kvests__item__gradient"></span>
          <span class="kvests__item__overlay black"></span>
          <span class="kvests__item__type black">экшен игра</span>
          <div class="kvests__item__title">Побег из тюрьмы</div>
          <div class="kvests__item__desc">
            <div class="kvests__item__desc__text">Сложность:</div>
            <div class="kvests__item__desc__stars">
              <img src="img/star.png" alt="" />
              <img src="img/star.png" alt="" />
              <img src="img/star.png" alt="" />
            </div>
            <div class="kvests__item__desc__text">от 60 минут</div>
          </div>
          <div class="kvests__item__link">Перейти <img src="img/next.png" alt=""></div>
        </a>
        <!--END kvests__item -->
      </div>
    </div>
  </div>
  <!-- ========================================END kvests======================================== -->
  <!-- ========================================END aboutkvest======================================== -->
  <div class="aboutkvest">
    <div class="container">
      <div class="section__title yellow">О квестах</div>
      <div class="aboutkvest__items">
        <!-- aboutkvest__item -->
        <div class="aboutkvest__item">
          <img src="img/aboutkvests-1.png" alt="" class="aboutkvest__item__img">
          <div class="aboutkvest__item__txt">
            <p>Квесты «<strong>Ловушка</strong>» - это больше чем просто игра. Это целый мир, историческая эпоха, чья-то судьба и чья-то тайна.</p>
            <p>В квестах вы прикоснетесь
            к истории и погрузитесь в захватывающий мир со своими звуками, запахами, неповторимой атмосферой, пронизанной тайнами и загадками.</p>
          </div>
        </div>
        <!--END aboutkvest__item -->
        <!-- aboutkvest__item -->
        <div class="aboutkvest__item">
          <img src="img/aboutkvests-2.png" alt="" class="aboutkvest__item__img">
          <div class="aboutkvest__item__txt">
            <p><strong>Квест</strong> - первоначально являлся
              жанром компьютерной игры.
              Но с недавних пор квесты стали
              популярной интеллектуальной
            игрой в реальной жизни.</p>
          </div>
          <div class="aboutkvest__item__line"></div>
        </div>
        <!--END aboutkvest__item -->
        <!-- aboutkvest__item -->
        <div class="aboutkvest__item">
          <img src="img/aboutkvests-3.png" alt="" class="aboutkvest__item__img">
          <div class="aboutkvest__item__txt">
            <p>Выйти из комнаты или "<strong>Escape Room</strong>" — один из жанров квест-игры.</p>

            <p>Участников запирают в помещении, интерьер которого продуман до мелочей.
            Игрокам предстоит разгадать загадки и головоломки, что бы найти ключ и выйти из комнаты.</p>
          </div>
        </div>
        <!--END aboutkvest__item -->
      </div>
      <div class="aboutkvest__text">
        <p>Мы <strong>по-настоящему</strong> любим то, что мы делаем, и хотим видеть горящие глаза игроков наших квестов.</p>

        <p>В квестах вы можете отдохнуть, провести корпоратив или спраздновать день рождение,
        для этого есть специально оборудованная комната.</p>
      </div>
    </div>
  </div>
  <!-- ========================================END aboutkvest======================================== -->
  <!-- ========================================END reviews======================================== -->
  <div class="reviews">
    <div class="container">
      <div class="section__title yellow">Отзывы наших игроков</div>
      <div class="reviews__items">
        <!-- reviews__item -->
        <div class="reviews__item__wrapper">
          <img src="img/pen.png" alt="" class="reviews__item__img pen">
          <div class="reviews__item" style="background-image: url(img/review-1.png);">

            <div class="reviews__item__overlay"></div>
            <div class="reviews__item__btn"></div>
          </div>
        </div>
        <!--END reviews__item -->
        <!-- reviews__item -->
        <div class="reviews__item__wrapper">
          <img src="img/camera.png" alt="" class="reviews__item__img camera">
          <div class="reviews__item" style="background-image: url(img/review-1.png);">
            <div class="reviews__item__overlay"></div>
            <div class="reviews__item__btn"></div>
          </div>
        </div>
        <!--END reviews__item -->
      </div>
    </div>
  </div>
  <!-- ========================================END reviews======================================== -->
  <!-- ========================================END faq======================================== -->
  <div class="faq">
    <div class="container">
      <div class="section__title yellow">Ответы на часто задаваемые вопросы</div>
      <div class="faq__items">
        <!-- faq__item -->
        <div class="faq__item">
          <div class="faq__item__head" data-accordion-link="1">
            <div class="faq__item__head__title">Можно у вас провести день рождение или корпоратив?</div>
            <div class="faq__item__head__arrow" data-accordion-arrow="1"></div>
          </div>
          <div class="faq__item__content" data-accordion-content="1">
            <p>В каждом квесте время прохождение разное, но в среднем
            от 60 до 90 минут.</p>
          </div>
        </div>
        <!--END faq__item -->
        <!-- faq__item -->
        <div class="faq__item">
          <div class="faq__item__head" data-accordion-link="2">
            <div class="faq__item__head__title">Можно к вам с детьми?</div>
            <div class="faq__item__head__arrow" data-accordion-arrow="2"></div>
          </div>
          <div class="faq__item__content" data-accordion-content="2">
            <p>В каждом квесте время прохождение разное, но в среднем
            от 60 до 90 минут.</p>
          </div>
        </div>
        <!--END faq__item -->
      </div>
    </div>
  </div>
  <!-- ========================================END faq======================================== -->
  <!-- ========================================contacts======================================== -->
  <div class="contacts">
    <div class="container">
      <div class="section__title yellow">Контакты</div>
      <div class="contacts__content">
        <div class="contacts__data">
          <!-- contacts__data__item -->
          <a href="" class="contacts__data__item">
            <img src="img/phone.png" alt="" class="contacts__data__item__icon">
            <span class="contacts__data__item__text"><strong>89200613331</strong></span>
          </a>
          <!--END contacts__data__item -->
          <!-- contacts__data__item -->
          <a href="" class="contacts__data__item">
            <img src="img/mail.png" alt="" class="contacts__data__item__icon">
            <span class="contacts__data__item__text">Почта: lovushka-nn@yandex.ru</span>
          </a>
          <!--END contacts__data__item -->
          <!-- contacts__data__item -->
          <a href="" class="contacts__data__item">
            <img src="img/calendar.png" alt="" class="contacts__data__item__icon">
            <span class="contacts__data__item__text">График работы: пн-вс, 10:00–00:00</span>
          </a>
          <!--END contacts__data__item -->
        </div>
        <div class="contacts__social">
          <!-- contacts__social__item -->
          <a href="/" class="contacts__social__item">
            <img src="img/vk.png" alt="">
          </a>
          <!--END contacts__social__item -->
          <!-- contacts__social__item -->
          <a href="/" class="contacts__social__item">
            <img src="img/ok.png" alt="">
          </a>
          <!--END contacts__social__item -->
          <!-- contacts__social__item -->
          <a href="/" class="contacts__social__item">
            <img src="img/fb.png" alt="">
          </a>
          <!--END contacts__social__item -->
          <!-- contacts__social__item -->
          <a href="/" class="contacts__social__item">
            <img src="img/ig.png" alt="">
          </a>
          <!--END contacts__social__item -->
          <!-- contacts__social__item -->
          <a href="/" class="contacts__social__item">
            <img src="img/yt.png" alt="">
          </a>
          <!--END contacts__social__item -->
        </div>
      </div>
    </div>
  </div>
  <!-- ========================================END contacts======================================== -->
  <!-- ========================================map======================================== -->
  <div class="map__wrapper">
    <div class="map__ramka"></div>
    <div class="map">
      <div class="map__adress">
        <div class="map__adress__icon">
          <img src="img/map__icon.png" alt="">
        </div>
        <div class="map__adress__name">Улица Семашко, д. 9</div>
      </div>
    </div>
  </div>
  
  <!-- ========================================END map======================================== -->
  <!-- ========================================requsites======================================== -->
  <div class="requsites">
    <div class="container">
      <div class="requsites__title">Юридические данные:</div>
      <div class="requsites__content">
        <ul>
          <li>Наименование организации:
          ИП Соколов Всеволод Владимирович</li>
          <li>ИНН: 526207274728</li>
        </ul>
        <ul>
          <li>Адрес: 603000 Нижегородская область
          г. Н. Новгород ул.. Семашко, д. 9</li>
          <li>ОГРНИП: 32052750003947</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- ========================================END requsites======================================== -->
  <!-- ========================================footer======================================== -->
  <div class="footer">
    <div class="container">
      <a href="/" class="footer__logo">
        <img src="img/logo__footer.png" alt="">
      </a>
      <a href="/" class="footer__politics">Конфиденциальная информация</a>
      <div class="hero__phoneblock">
          <a href="" class="hero__phone">+7 (920) 061 33 31 </a>
          <div class="hero__phoneblock__link">Заказать звонок</div>
        </div>
    </div>
  </div>
  <!-- ========================================END footer======================================== -->
  {% block content %} {% endblock %}

  <script src="js/jquery.js"></script>
  <script src="js/jquery.fancybox.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/main.js"></script>
</body>
</html>
