<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ title }}</title>
	<link rel="stylesheet" href="css/jquery.fancybox.min.css" />
	<link rel="stylesheet" href="css/owl.carousel.min.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">
	<link rel="stylesheet" href="css/main.css" />
</head>
<body>
	<div class="global__wrapper">
		<!-- ========================================hero__head======================================== -->
		<div class="hero__head">
			<div class="container">
				<a href="/" class="hero__logo">
					<img src="img/logo.png" alt="" />
				</a>
				<ul class="hero__links">
					<li><a href="">Квесты</a></li>
					<li><a href="">Отзывы</a></li>
					<li><a href="">Вопросы</a></li>
					<li><a href="">Контакты</a></li>
				</ul>
				<div class="hero__phoneblock">
					<a href="" class="hero__phone">+7 (920) 061 33 31 </a>
					<div class="hero__phoneblock__link">Заказать звонок</div>
				</div>
			</div>
		</div>
		<!-- ========================================END hero__head======================================== -->
		{% block content %}
		{% endblock %}
		<!-- ========================================contacts======================================== -->
  <div class="contacts">
    <div class="container">
      <div class="section__title yellow">Контакты</div>
      <div class="contacts__content">
        <div class="contacts__data">
          <!-- contacts__data__item -->
          <a href="" class="contacts__data__item">
            <img src="img/phone.png" alt="" class="contacts__data__item__icon">
            <span class="contacts__data__item__text"><strong>89200613331</strong></span>
          </a>
          <!--END contacts__data__item -->
          <!-- contacts__data__item -->
          <a href="" class="contacts__data__item">
            <img src="img/mail.png" alt="" class="contacts__data__item__icon">
            <span class="contacts__data__item__text">Почта: lovushka-nn@yandex.ru</span>
          </a>
          <!--END contacts__data__item -->
          <!-- contacts__data__item -->
          <a href="" class="contacts__data__item">
            <img src="img/calendar.png" alt="" class="contacts__data__item__icon">
            <span class="contacts__data__item__text">График работы: пн-вс, 10:00–00:00</span>
          </a>
          <!--END contacts__data__item -->
        </div>
        <div class="contacts__social">
          <!-- contacts__social__item -->
          <a href="/" class="contacts__social__item">
            <img src="img/vk.png" alt="">
          </a>
          <!--END contacts__social__item -->
          <!-- contacts__social__item -->
          <a href="/" class="contacts__social__item">
            <img src="img/ok.png" alt="">
          </a>
          <!--END contacts__social__item -->
          <!-- contacts__social__item -->
          <a href="/" class="contacts__social__item">
            <img src="img/fb.png" alt="">
          </a>
          <!--END contacts__social__item -->
          <!-- contacts__social__item -->
          <a href="/" class="contacts__social__item">
            <img src="img/ig.png" alt="">
          </a>
          <!--END contacts__social__item -->
          <!-- contacts__social__item -->
          <a href="/" class="contacts__social__item">
            <img src="img/yt.png" alt="">
          </a>
          <!--END contacts__social__item -->
        </div>
      </div>
    </div>
  </div>
  <!-- ========================================END contacts======================================== -->
  <!-- ========================================map======================================== -->
  <div class="map__wrapper">
    <div class="map__ramka"></div>
    <div class="map">
      <div class="map__adress">
        <div class="map__adress__icon">
          <img src="img/map__icon.png" alt="">
        </div>
        <div class="map__adress__name">Улица Семашко, д. 9</div>
      </div>
    </div>
  </div>
  
  <!-- ========================================END map======================================== -->
  <!-- ========================================requsites======================================== -->
  <div class="requsites">
    <div class="container">
      <div class="requsites__title">Юридические данные:</div>
      <div class="requsites__content">
        <ul>
          <li>Наименование организации:
          ИП Соколов Всеволод Владимирович</li>
          <li>ИНН: 526207274728</li>
        </ul>
        <ul>
          <li>Адрес: 603000 Нижегородская область
          г. Н. Новгород ул.. Семашко, д. 9</li>
          <li>ОГРНИП: 32052750003947</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- ========================================END requsites======================================== -->
  <!-- ========================================footer======================================== -->
  <div class="footer">
    <div class="container">
      <a href="/" class="footer__logo">
        <img src="img/logo__footer.png" alt="">
      </a>
      <a href="/" class="footer__politics">Конфиденциальная информация</a>
      <div class="hero__phoneblock">
          <a href="" class="hero__phone">+7 (920) 061 33 31 </a>
          <div class="hero__phoneblock__link">Заказать звонок</div>
        </div>
    </div>
  </div>
  <!-- ========================================END footer======================================== -->
	</div>





	<script src="js/jquery.js"></script>
  <script src="js/jquery.fancybox.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
  <script src="js/main.js"></script>  
</body>
</html>