{% set title = 'Главная' %}

{% extends 'layouts/_page.html' %}

{% block content %}

<!-- ========================================kvest======================================== -->
		<div class="kvest">
			<div class="container">
				<div class="kvest__head">
					<div class="kvest__head__left">
						<div class="kvest__head__left__label">Квест</div>
						<div class="kvest__head__left__title">Игры в темноте</div>
					</div>
					<div class="kvest__head__right">
						<button class="btn">Забронировать</button>
						<button class="btn border">Подарить квест</button>
					</div>
				</div>
				<div class="kvest__details">
					<!-- kvest__details__item -->
					<div class="kvest__details__item">
						<div class="kvest__details__item__label">Игроков:</div>
						<div class="kvest__details__item__data">4  - 25</div>
					</div>
					<!--END kvest__details__item -->
					<!-- kvest__details__item -->
					<div class="kvest__details__item">
						<div class="kvest__details__item__label">Время:</div>
						<div class="kvest__details__item__data">60 мин</div>
					</div>
					<!--END kvest__details__item -->
					<!-- kvest__details__item -->
					<div class="kvest__details__item">
						<div class="kvest__details__item__label">Сложность:</div>
						<div class="kvest__details__item__stars">
							<img src="img/star.png" alt="">
							<img src="img/star.png" alt="">
							<img src="img/star.png" alt="">
						</div>
					</div>
					<!--END kvest__details__item -->
					<!-- kvest__details__item -->
					<div class="kvest__details__item">
						<div class="kvest__details__item__label">Цена:</div>
						<div class="kvest__details__item__data">от 500 ₽</div>
					</div>
					<!--END kvest__details__item -->
					<!-- kvest__details__item -->
					<div class="kvest__details__item">
						<div class="kvest__details__item__label">Категория:</div>
						<div class="kvest__details__item__data">Экшен игра</div>
					</div>
					<!--END kvest__details__item -->
					<!-- kvest__details__item -->
					<div class="kvest__details__item">
						<div class="kvest__details__item__label">Возраст:</div>
						<div class="kvest__details__item__data">+8</div>
					</div>
					<!--END kvest__details__item -->
				</div>
				<div class="kvest__slider owl-carousel">
					<div class="kvest__slider__item" >
						<div class="kvest__slider__item__content" style="background-image: url(../img/hero__bg.png);"></div>
					</div>
					<div class="kvest__slider__item" >
						<div class="kvest__slider__item__content" style="background-image: url(../img/hero__bg.png);"></div>
					</div>
					<div class="kvest__slider__item" >
						<div class="kvest__slider__item__content" style="background-image: url(../img/hero__bg.png);"></div>
					</div>
					<div class="kvest__slider__item" >
						<div class="kvest__slider__item__content" style="background-image: url(../img/hero__bg.png);"></div>
					</div>
					<div class="kvest__slider__item" >
						<div class="kvest__slider__item__content" style="background-image: url(../img/hero__bg.png);"></div>
					</div>
				</div>
				<div class="kvest__textblock">
					<div class="kvest__textblock__head">
						<div class="kvest__textblock__title">Описание</div>
						<a href="" class="kvest__textblock__link">Правила посещения</a>
					</div>
					<div class="kvest__textblock__content">
						<p>Локация представляет собой многоуровневый лабиринт, тоннели, горки, поролоновые ямы.</p>

						<p>Игра безопасная, опасные места в лабиринте обшиты защитным материалом. Участники играют без обуви, в касках,
							наколенниках. Для игры подойдет спортивная, удобная одежда.</p>

						<p>В игре три режима:</p>

						<p>«Прятки» — участники делятся на охотников и призраков.</p>

						<p>Задачи охотников поймать максимальное количество призраков, и отметить их электронными браслетами.</p>

						<p>«Наперегонки» — участники делятся на две равные команды и при помощи электронных браслетов собирают светящиеся
							колечки на стенах лабиринтов.</p>

						<p>«Искатели сокровищ» — участники делятся на команды и собирают «сокровища» — небольшие бочонки, которые складывают
							в электронные тумбочки. Результат игры отображается на табло. Всего в лабиринтах спрятано около 180 «сокровищ».</p>

						<p>Игра подойдет для детей от 8 лет, и взрослых. Игры для взрослых и детей отличаются степенью освещенностью локации.
							Оптимальное количество участников — 10-20 человек, минимум 4, максимум 25.</p>
					</div>
				</div>
				<div class="kvest__textblock">
					<div class="kvest__textblock__head">
						<div class="kvest__textblock__title">Расписание</div>
					</div>
					<div class="kvest__textblock__content">
						<p>Таблица расписания</p>
					</div>

				</div>
				<div class="kvest__table"></div>
				<div class="kvest__phoneblock">
					Хотите забронировать на более позднюю дату? <br>
					Звоните: <a href="tel:+7 (920) 061-33-31">+7 (920) 061-33-31</a>
				</div>
			</div>
		</div>
<!-- ========================================END kvest======================================== -->

{% endblock %}
